/*.todoWrapper {*/
/*  border: 1px solid #1575bb;*/
/*  border-radius: 3px;*/
/*  padding: 10px;*/
/*  margin: 10px;*/
/*}*/

.todoCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 26.5rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem;

  .itemForm {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
