.todoWrapper {
  border: 1px solid #1575bb;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.container {
}

.taskWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btwWrap {
  display: flex;
  justify-content: center;
}
