.todoWrapper {
    border: 1px solid #1575bb;
    padding: 10px;
    margin: 10px;
}

.tasks li {
    margin: 5px 0;
}

.status {
    opacity: 0.5;
}

.taskWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btwWrap {
    display: flex;
    justify-content: center;
}