.todoCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  width: 22rem;
  padding: 2rem 1rem;

  .itemForm {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
  }
}
