.signBlock {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  width: 26.5rem;
  margin: 2.25rem auto 0;
  padding: 2.06rem 2.25rem;

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .title {
      text-align: center;
    }

    .submit {
      padding: 0.375rem 0;
    }
  }

  .question {
    margin-top: 1.25rem;
    margin-bottom: 0.69rem;
    color: var(--color-light-900);
    text-align: center;
  }

  @media (max-width: 767px) {
    width: 22.5rem;
    height: 80vh;
    margin: 2.25rem auto 2.25rem;
  }
}
