* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px;
}

body {
  background: linear-gradient(-45deg, #de96ab, #dccba3, #77a9c2, #1575bb);
  background-size: 1000% 1000%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}