.header {
  min-height: 100px;
  display: flex;
  justify-content: center;

  background: var(--color-dark-700);

  .contentBox {
    display: flex;
    width: 70vw;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;
    .itemForm {
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }
  }

  @media (max-width: 767px) {
  }
}
