.header {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--color-dark-700);

  .contentBox {
    display: flex;
    width: 70vw;
    gap: 10px;
    justify-content: flex-start;
    align-items: flex-start;
    .itemForm {
      display: flex;
      align-items: flex-start;
      gap: 10px;
    }
    @media (max-width: 767px) {
      width: 100%;
      min-width: 22.5rem;
      justify-content: center;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
    min-width: 22.5rem;
  }
}
